name: Create repo

on:
  workflow_call:
    inputs:
      component_path:
        description: 'Github repository path for the component'
        required: true
        type: string
      component_version:
        description: 'The version to make repository of'
        required: true
        type: string
      deploy_branch:
        description: 'Which branch to deploy the repodata to'
        default: 'gh-pages'
        type: string
      deploy_basepath:
        description: 'Which path to deploy the repodata to'
        default: 'repo'
        type: string

jobs:
  create_repo:
    runs-on: ubuntu-latest
    steps:
      # Try checking out deployment branch
      - name: Fetch deployment branch
        id: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          repository: ${{ github.repository }}
          ref: ${{ inputs.deploy_branch }}
          sparse-checkout: |
            ${{ inputs.deploy_basepath }}/
        continue-on-error: true
      # Checkout main if deployment branch does not exist
      - name: Fetch main branch
        if: steps.checkout.outcome == 'failure'
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      # Create deployment directories
      - name: Prepare repository deployment dirs
        run: mkdir -p "deployment/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}"
      # Install dependencies
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get --yes install createrepo-c
      # Download artifact(s)
      - name: Download release
        run: gh release download --repo "${{ inputs.component_path }}" --pattern "*.rpm" --dir "workdir/${{ inputs.component_version }}" "${{ inputs.component_version }}"
        env:
          GH_TOKEN: ${{ github.token }}
      # Generate repository files
      - name: Generate repository files
        run: createrepo_c --no-database --baseurl=https://www.github.com --location-prefix="https://github.com/${{ inputs.component_path }}/releases/download/" --outputdir="deployment/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}" workdir/
      # Normalize path for repofile
      - name: Normalize repository information
        run: printf "NORMALIZED_PATH=%q\n" "$(sed 's,/,-,g' <<< '${{ inputs.component_path }}-${{ inputs.component_version }}')" >> $GITHUB_ENV
      # Create repofile
      - name: Create .repo file
        run: |
          echo '[${{ env.NORMALIZED_PATH }}]
          name=${{ env.NORMALIZED_PATH }}
          baseurl=https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${{ inputs.deploy_branch }}/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}
          gpgcheck=0
          enabled=1' > "deployment/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}/${{ env.NORMALIZED_PATH }}.repo"
      # Deploy current repository
      - name: Deploy base repository files
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: "deployment/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}"
          target-folder: "${{ inputs.deploy_basepath }}/${{ inputs.component_version }}"
          branch: "${{ inputs.deploy_branch }}"
          token: ${{ secrets.GITHUB_TOKEN }}
  merge_repo:
    runs-on: ubuntu-latest
    steps:
      # Try checking out deployment branch
      - name: Fetch deployment branch
        id: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          repository: ${{ github.repository }}
          ref: ${{ inputs.deploy_branch }}
          sparse-checkout: |
            ${{ inputs.deploy_basepath }}/
      # Install dependencies
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get --yes install createrepo-c
      # Merge repos
      - name: Merge repositories
        run: mergerepo --all --no-database $(find ${{ inputs.deploy_basepath }}/ -maxdepth 1 -type d -not -name releases -not -name ${{ inputs.deploy_basepath }} -printf "--repo=%p ") --outputdir "${{ inputs.deploy_basepath }}/releases"
      # Normalize path for repofile
      - name: Normalize repository information
        run: printf "NORMALIZED_PATH=%q\n" "$(sed 's,/,-,g' <<< '${{ inputs.component_path }}-releases')" >> $GITHUB_ENV
      # Create repofile
      - name: Create .repo file
        run: |
          echo '[${{ env.NORMALIZED_PATH }}]
          name=${{ env.NORMALIZED_PATH }}
          baseurl=https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${{ inputs.deploy_branch }}/${{ inputs.deploy_basepath }}/releases
          gpgcheck=0
          enabled=1' > "deployment/${{ inputs.deploy_basepath }}/releases/${{ env.NORMALIZED_PATH }}.repo"
      # Deploy releases repository
      - name: Deploy releases repository files
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: "deployment/${{ inputs.deploy_basepath }}/releases"
          target-folder: "${{ inputs.deploy_basepath }}/releases"
          branch: "${{ inputs.deploy_branch }}"
          token: ${{ secrets.GITHUB_TOKEN }}
  retry_merge_repo:
    if: failure() && fromJSON(github.run_attempt) < 3
    needs: [merge_repo]
    runs-on: ubuntu-latest
    steps:
      - name: Retry merge_repo if it fails
        run: echo "Running merge_repo again, attempt ${{ github.run_attempt }}"
