name: Create repo

on:
  workflow_call:
    inputs:
      component_path:
        description: 'Github repository path for the component'
        required: true
        type: string
      component_version:
        description: 'The version to make repository of'
        required: true
        type: string
      deploy_branch:
        description: 'Which branch to deploy the repodata to'
        default: 'gh-pages'
        type: string
      deploy_basepath:
        description: 'Which path to deploy the repodata to'
        default: 'repo'
        type: string

jobs:
  create_repo:
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: |
          echo "Data given path: ${{ inputs.component_path }} version: ${{ inputs.component_version }} branch: ${{ inputs.deploy_branch }} basepath: ${{ inputs.deploy_basepath }}"
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get --yes install createrepo-c
      - name: Download release
        run: gh release download --repo "${{ inputs.component_path }}" --pattern "*.rpm" --dir "repo/${{ inputs.component_version }}" "${{ inputs.component_version }}"
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Create repository
        run: createrepo_c --no-database --baseurl=https://www.github.com --location-prefix="https://github.com/${{ inputs.component_path }}/releases/download/" repo/
      - name: Create .repo file
        run: |
          echo '[${{ inputs.component_path }}-${{ inputs.component_version }}]
          name=${{ inputs.component_path }}-${{ inputs.component_version}}
          baseurl=https://raw.githubusercontent.com/${{ inputs.component_path }}//refs/heads/${{ inputs.deploy_branch}}/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}
          gpgcheck=0
          enabled=1' > ${{ inputs.component_path }}-${{ inputs.component_version }}.repo
      - name: Debug2
        run: find repo/ && echo "---" && find repo/ -type f -name "*xml" -exec cat {} \; && echo "---" && find repo/ -type f -name "*.gz" -exec zcat {} \;
