name: Create repo

on:
  workflow_call:
    inputs:
      component_path:
        description: 'Github repository path for the component'
        required: true
        type: string
      component_version:
        description: 'The version to make repository of'
        required: true
        type: string
      deploy_branch:
        description: 'Which branch to deploy the repodata to'
        default: 'gh-pages'
        type: string
      deploy_basepath:
        description: 'Which path to deploy the repodata to'
        default: 'repo'
        type: string

jobs:
  create_repo:
    runs-on: ubuntu-latest
    steps:
      # Try checking out deployment branch
      - name: Fetch deployment branch
        id: checkout-deployment
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          repository: ${{ github.repository }}
          ref: ${{ inputs.deploy_branch }}
          sparse-checkout: |
            ${{ inputs.deploy_basepath }}/
        continue-on-error: true
      # Checkout main branch if deployment does not exist
      - name: Fetch main branch
        id: checkout-main
        if: steps.checkout-deployment.outcome == 'failure'
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      # Switch branch if deployment checkout failed
      - name: Switch branch if necessary
        if: steps.checkout-deployment.outcome == 'failure'
        run: git checkout --orphan "${{ inputs.deploy_branch }}"
      # Create deployment directories
      - name: Prepare repository deployment dirs
        run: mkdir -p "deployment/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}"
      # Install dependencies
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get --yes install createrepo-c
      # Download artifact(s)
      - name: Download release
        run: gh release download --repo "${{ inputs.component_path }}" --pattern "*.rpm" --dir "workdir/${{ inputs.component_version }}" "${{ inputs.component_version }}"
        env:
          GH_TOKEN: ${{ github.token }}
      # Generate repository files
      - name: Generate repository files
        run: createrepo_c --no-database --baseurl=https://www.github.com --location-prefix="https://github.com/${{ inputs.component_path }}/releases/download/" --outputdir="deployment/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}" workdir/
      # Normalize path for repofile
      - name: Normalize repository information
        run: printf "NORMALIZED_PATH=%q\n" "$(sed 's,/,-,g' <<< '${{ inputs.component_path }}-${{ inputs.component_version }}')" >> $GITHUB_ENV
      # Create repofile
      - name: Create .repo file
        run: |
          echo '[${{ env.NORMALIZED_PATH }}]
          name=${{ env.NORMALIZED_PATH }}
          baseurl=https://raw.githubusercontent.com/${{ inputs.component_path }}//refs/heads/${{ inputs.deploy_branch}}/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}
          gpgcheck=0
          enabled=1' > "deployment/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}/${{ env.NORMALIZED_PATH }}.repo"
      - name: Debug3
        run: find deployment/${{ inputs.deploy_basepath }}/ && echo "---" && find deployment/ -type f -name "*.repo" -exec cat {} \; && echo "---" && find deployment/ -type f -name "*xml" -exec cat {} \; && echo "---" && find deployment/ -type f -name "*.gz" -exec zcat {} \;
      # Deploy current repository
      - name: Deploy base repository files
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: "deployment/${{ inputs.deploy_basepath }}/${{ inputs.component_version }}"
          target-folder: "${{ inputs.deploy_basepath }}/${{ inputs.component_version }}"
          branch: "${{ inputs.deploy_branch }}"
          token: ${{ secrets.GITHUB_TOKEN }}
