name: Matrix test

on: [ push ]

jobs:
  run:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: attempt
        run: |
          echo "Matrix ${{ matrix.attempt }}";
          if [ "$((RANDOM%15))" == "0" ]; then echo "Yay" && exit 0; else echo "Nay" && exit 1; fi;
  rerun-failed-jobs:
    permissions: write-all
    runs-on: ubuntu-latest
    needs: [ run ]
    if: failure()
    steps:
      - uses: actions/checkout@v6
      - name: Rerun failed jobs in the current workflow
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh run rerun ${{ github.run_id }} --failed
