name: Matrix test

on: [ push ]

jobs:
  setup:
    runs-on: ubuntu-latest

  setup-env:
    runs-on: ubuntu-latest
    steps:
      - name: setup-env
        run: echo 'matrix=["1"]' >> $GITHUB_ENV
      - name: test
        run: echo "${{ env.matrix }}";

  process:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        attempt: ${{ fromJson(env.matrix) }}
    steps:
      - name: debug
        run: echo "${{ env.matrix }}";
      - name: attempt
        run: echo "Processing ${{ matrix.attempt }} at $(date)" && if [ "${{ matrix.attempt }}" == "3" ]; then echo "matrix=Did not fail!"; exit 0; else echo "Failed!"; exit 1; fi;
