name: Matrix test

on: [ push ]
jobs:
  process:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        attempt: [ "1" ]
    steps:
      - run: |
          echo "Processing ${{ matrix.attempt }}"; sleep 2; if [ "$((RANDOM%15))" != "0" ]; then echo "matrix=[ \"$((${{ matrix.attempt }} + 1))\" ]" >> $GITHUB_STATE; else echo "Yay"; fi;
