name: Matrix test

on: [ push ]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        attempt: ${{ steps.attempt.outputs.attempt }}
    steps:
      - name: attempt
        run: |
          echo "Matrix ${{ matrix.attempt }}";
          if [ "$((RANDOM%15))" == "0" ]; then echo "Yay" && exit 0; else echo "Nay" && exit 1; fi;
