name: Matrix test

on: [ push ]

env:
  attempt: '["1"]'

jobs:
  setup:
    runs-on: ubuntu-latest
  process:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        attempt: ${{ fromJson(env.attempt) }}
    steps:
      - name: debug
        run: echo "${{ env.attempt }} -> ${{ matrix.attempt }}";
      - name: attempt
        run: echo "Processing ${{ matrix.attempt }} at $(date)" && if [ "${{ matrix.attempt }}" == "3" ]; then echo "matrix=Did not fail!"; exit 0; else echo "Failed!"; exit 1; fi;
