name: sync

on: [ push ]
permissions: write-all
jobs:
  sync:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Workflow
        uses: actions/github-script@v6
        with:
          github-token: ${{ github.token }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: 'StrongestNumber9',
              repo: 'dfg_01',
              workflow_id: 'deploy-component-repo.yaml',
              ref: 'initial_release'
            })
