name: sync

on: [ push ]
permissions: write-all
jobs:
  sync:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: StrongestNumber9/dfg_01
          ref: initial_release
      - name: Debug
        run: |
          gh workflow list --all
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Deploy component repo
        run: |
          gh workflow run deploy-repo \
          --raw-field "from_repository=pth_10" \
          --raw-field "from_version=10.4.1" \
          --raw-field "to_repository=StrongestNumber9/pkg_01" \
          --raw-field "to_branch=gh-pages" \
          --raw-field "to_path_component=component";
          printf "DEPLOY_RUNID=%q\n" "$(gh run list --workflow=deploy-component-repo.yaml --limit 1 --json databaseId --jq '.[0].databaseId')" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ github.token }}

