name: Indirecty

on: [ push ]
permissions: write-all
jobs:
  create_repo:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: |
          gh workflow run deploy-component-repo.yaml \
          --repo StrongestNumber9 \
          --ref "dfg_01" \
          --raw-field "from_repository=pth_10" \
          --raw-field "from_version=10.4.1" \
          --raw-field "to_repository=StrongestNumber9/pkg_01" \
          --raw-field "to_branch=gh-pages" \
          --raw-field "to_path_component=components";
          printf "DEPLOY_RUNID=%q\n" "$(gh run list --workflow=deploy-component-repo.yaml --repo StrongestNumber9 --ref dfg_01 --limit 1 --json databaseId --jq '.[0].databaseId')" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Retry deploy
        run: while ! gh run watch "${{ env.DEPLOY_RUNID }}" --exit-status; do gh run rerun "${{ env.DEPLOY_RUNID }}"; done;
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Update
        run: |
          gh workflow run update-central-repo.yaml \
          --repo StrongestNumber9 \
          --ref "dfg_01" \
          --raw-field "to_repository=StrongestNumber9/pkg_01" \
          --raw-field "to_branch=gh-pages" \
          --raw-field "to_path_component=components" \
          --raw-field "to_path_central=central";
          printf UPDATE_RUNID=%q\n" "$(gh run list --workflow=update-central-repo.yaml --repo StrongestNumber9 --ref dfg_01 --limit 1 --json databaseId --jq '.[0].databaseId')" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Retry update
        run: while ! gh run watch "${{ env.UPDATE_RUNID }}" --exit-status; do gh run rerun "${{ env.UPDATE_RUNID }}"; done;
        env:
          GH_TOKEN: ${{ github.token }}
